<footer class="site-footer">
	<div class="site-footer-container">
		<nav>
			{{ social_nav }}
		</nav>
		<div class="footer-content">
			<h3>{{ footer_content.name }}</h3>
			<p>{{ footer_content.address }}</p>
			<hr>
			<p>{{ footer_content.phone }} // {{ footer_content.email }}</p>
			<p class="copyright">Copyright &copy;{{ footer_content.year }} {{ footer_content.name }}</p>
		</div>
	</div>
</footer>

<div class="overlay">
	<div class="overlay-animation-grid">
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
		<div class="overlay-animation"></div>
	</div>
	<div class="lightbox-container">
		<div class="lightbox-content"></div>
	</div>
	<div class="close">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="-12849.627 -2497.314 22.627 22.627"> <g id="Group_463" data-name="Group 463" transform="translate(-14327 -2579)"> <rect id="Rectangle_551" data-name="Rectangle 551" style="fill: #fff;" width="30" height="2" transform="translate(1478.787 81.686) rotate(45)"/> <rect id="Rectangle_552" data-name="Rectangle 552" style="fill: #fff;" width="30" height="2" transform="translate(1477.373 102.9) rotate(-45)"/> </g> </svg>
	</div>
</div>