{% extends "base.twig" %}
{% block content %}

<main class="page-builder">
	{% for layout in fields %}

		{% if layout.acf_fc_layout == "hero" %}
			<section class="hero" style="
				background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url({{ layout.background_image.url }});
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			" alt="{{ layout.background_image.alt }}">
				<div class="hero-container">
					<h1>{{ layout.heading }}</h1>
					<p>{{ layout.subheading }}</p>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "basic_text" %}
			<section class="basic-text" style="background-color: #{{ layout.background_color }};">
				<div class="basic-text-container">
					{{ layout.text_content }}
				</div>
			</section>

		{% endif %}
	{% endfor %}
</main>

{% endblock %}