{% extends "base.twig" %}
{% block content %}

<main class="page-builder">
	{% if single.is %}
		<section class="hero single-hero" style="
			background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url({{ single.background_image.url }});
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		" alt="{{ single.background_image.alt }}">
			<div class="hero-container">
				<h1>{{ single.title }}</h1>
				{% if single.file %}
					<audio controls><source src="{{ single.file }}" type="audio/mpeg">Your browser does not support audio</audio>
				{% endif %}
				<p>{{ single.display_date }}<br>{{ single.description }}</p>
				{% if single.archive %}
					<div class="post-nav">
						{{ single.archive.next }}
						<a href="{{ single.archive.all }}" class="grif-button white">View All Services</a>
						{{ single.archive.previous }}
					</div>
				{% endif %}
			</div>
		</section>
		{% if single.podcast %}
			<section class="basic-text single-info" style="background-color: #E9EBEC;">
				<div class="basic-text-container grif-container">
					<h4><span>Listen on:</span> <a href="https://podcasts.apple.com/us/podcast/grif-sermon-series/id1438355172" target="_blank">{{ single.podcast.itunes_button }}</a> <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Iin2pvgzj3vj6qdxji4lppkvg2q?t%3DGRIF_Sermon_Series%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" target="_blank">{{ single.podcast.google_button }}</a></h4>
				</div>
			</section>
		{% endif %}
	{% endif %}

	{% for layout in fields %}
		{% if layout.acf_fc_layout == "hero" %}
			<section class="hero" style="
				background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url({{ layout.background_image.url }});
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			" alt="{{ layout.background_image.alt }}">
				<div class="hero-container">
					<h1>{{ layout.heading }}</h1>
					<p>{{ layout.subheading }}</p>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "basic_text" %}
			<section class="basic-text" style="background-color: #{{ layout.background_color }};">
				<div class="basic-text-container grif-container" style="max-width: {% if layout.content_width %}{{ layout.content_width }}px{% else %}100%{% endif %};">
					{{ layout.text_content }}
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "two_column_text" %}
			<section class="two-column-text" style="background-color: #{{ layout.background_color }};">
				<div class="two-column-text-container grif-container" style="max-width: {% if layout.content_width %}{{ layout.content_width }}px{% else %}100%{% endif %};">
					<div class="text-column">
						{{ layout.left_text_content }}
					</div>
					<div class="text-column">
						{{ layout.right_text_content }}
					</div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "two_column_content_divided" %}
			<section class="two-column-divided" style="background-color: #{{ layout.background_color }};">
				{% for content in layout.content_row %}
					<div class="two-column-divided-container grif-container" style="max-width: {% if layout.content_width %}{{ layout.content_width }}px{% else %}100%{% endif %};">
						<div class="divided-column">
							<div>
								{{ content.left_content }}
							</div>
						</div>
						<div class="divided-column">
							<div>
								{{ content.right_content }}
							</div>
						</div>
					</div>
				{% endfor %}
			</section>

		{% elseif layout.acf_fc_layout == "accordion_section" %}
			<section class="accordions" data-bg="{{ layout.background_color }}" style="background-color: #{{ layout.background_color }};">
				<div class="accordions-container grif-container">
					{% if layout.intro %}
						<div class="accordions-intro">
							{{ layout.intro }}
						</div>
					{% endif %}
					{% for content in layout.accordions %}
						<div class="accordion-item">
							<div class="accordion-toggle">
								<h4>{{ content.heading }}</h4>
								<div class="accordion-icon">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="2299.263 -8977.207 25.238 14.235"><path id="Path_258" data-name="Path 258" d="M946.684,667.761,934.57,679.875l-11.71-11.71" transform="translate(1377.11 -9644.261)"/></svg>
								</div>
							</div>
							<div class="accordion-content">
								{{ content.content }}
							</div>
						</div>
					{% endfor %}
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "gallery_grid" %}
			<section class="gallery-grid" style="background-color: #{{ layout.background_color }};">
				<div class="gallery-grid-container grif-container">
					{% for content in layout.images %}
						<div class="gallery-grid-image" style="
							background-image: url({{ content.image.url }});
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
						" alt="{{ content.image.alt }}">
							{% if content.caption %}
								<div class="gallery-grid-caption">
									<div class="gallery-grid-caption-container">
										{{ content.caption }}
									</div>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					<div class="gallery-grid-image empty"></div>
					<div class="gallery-grid-image empty"></div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "current_sermon_series" %}
			<section class="current-series" style="background-color: #{{ layout.bg_color }};">
				<div class="current-series-container">
					<div class="current-series-header" style="color: #{{ layout.text_color }};">
						<h2>Current Series</h2>
					</div>
					<div class="current-series-graphic" style="
						background-image: url({{ layout.image.url }});
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
					" alt="{{ layout.image.alt }}"></div>
					<div class="current-series-buttons">
						<a href="{{ layout.archive }}#{{ layout.slug }}" class="grif-button {{ layout.button_color }}">All Sermons</a>
					</div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "alternating_text_and_images" %}
			<section class="alternating">
				<div class="alternating-container" style="background-color: #{{ layout.background_color }};">
					{% if layout.heading %}
						<h2 class="alternating-heading">{{ layout.heading }}</h2>
					{% endif %}
					{% for content in layout.alternating_content %}
						<div class="alternating-content">
							<div class="alternating-content-text">
								<div class="alternating-content-text-container">
									{{ content.text_content }}
								</div>
							</div>
							<div class="alternating-content-image" style="
								background-image: url({{ content.image.url }});
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
							" alt="{{ content.image.alt }}"></div>
						</div>
					{% endfor %}
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "latest_archive" %}
			<section class="latest" style="background-color: #{{ layout.bg_color }};">
				<div class="latest-container grif-container">
					{% if layout.heading %}
						<h2 class="latest-heading">{{ layout.heading }}</h2>
					{% endif %}
					<div class="archive-container">
						{% for post in layout.posts %}
						<a class="card" href="{{ post.permalink }}">
							<div class="card-image" style="
								background-image: url({{ post.image }});
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
							"></div>
							<div class="card-content">
								<p class="date">{{ post.date }}</p>
								<h4 class="post-title">{{ post.title }}</h4>
								<p class="grif-button white">View</p>
							</div>
						</a>
						{% endfor %}
						<a href="#" class="card empty"></a>
						<a href="#" class="card empty"></a>
						<a href="#" class="card empty"></a>
					</div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "image_nav" %}
			<section class="image-nav">
				<div class="image-nav-container">
					{% for item in layout.nav_items %}
						<a href="{{ item.url }}" class="image-nav-item" style="
							background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url({{ item.image.url }});
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
						" alt="{{ item.image.alt }}">
							<h3>{{ item.label }}</h3>
						</a>
					{% endfor %}
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "text_and_image" %}
			<section class="text-image" style="background-color: #{{ layout.background_color }};">
				<div class="text-image-container grif-container {% if layout.flip_order %}reverse{% endif %}">
					<div class="text-image-text">
						<div class="text-image-text-container">
							{{ layout.text_content }}
						</div>
					</div>
					<div class="text-image-image">
						<img src="{{ layout.image.url }}" alt="{{ layout.image.alt }}">
					</div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "site_cta" %}
			<section class="site-cta">
				<div class="site-cta-container grif-container">
					<h2>{{ layout.title }}</h2>
					<p>{{ layout.description }}</p>

					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="https://grifonline.us11.list-manage.com/subscribe/post?u=b71ddcebfdd9beda5a96926ce&amp;id=f19501d35d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								<div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_b71ddcebfdd9beda5a96926ce_f19501d35d" tabindex="-1" value="">
								</div>
								<div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="grif-button">
								</div>
							</div>
						</form>
					</div>
					<!--End mc_embed_signup-->

				</div>
			</section>

		{% elseif layout.acf_fc_layout == "full_archive" %}
			<section class="full-archive {{ layout.type }}" style="background-color: #{{ layout.bg_color }};">
				<div class="full-archive-container">
					{% if layout.heading %}
						<h2 class="archive-heading">{{ layout.heading }}</h2>
					{% endif %}
					<div class="news-filters">
						<div class="news-filters-container grif-container">
							<div class="news-tax-nav">
								<div class="news-tax">
									<p>filter:</p>
								</div>
								{{ layout.filter_ui }}
							</div>
							<div class="news-search">
								<form class="filter-search" data-type="{{ layout.type }}">
									<div class="search-input-container">
										<input type="text" class="news-search" placeholder="SEARCH">
									</div>
									<button class="search-nav" type="submit">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="3243.5 -8983 21.05 21.784"><path id="path-2" style="fill: #FFF; stroke: #FFF;" d="M19.882,20.118l-5.8-6.078a8.147,8.147,0,0,0,2.392-5.8,8.213,8.213,0,1,0-2.98,6.353l5.843,6.078a.379.379,0,0,0,.549,0A.379.379,0,0,0,19.882,20.118ZM8.235,15.686a7.451,7.451,0,1,1,7.451-7.451A7.448,7.448,0,0,1,8.235,15.686Z" transform="translate(3244 -8982.5)"/></svg>
									</button>
								</form>
							</div>
						</div>
					</div>
					<div class="cards grif-container">
						<div class="archive-container">
							{% for post in layout.posts %}
							<a class="card" href="{{ post.permalink }}">
								<div class="card-image" style="
									background-image: url({{ post.image }});
									background-repeat: no-repeat;
									background-position: center center;
									background-size: cover;
								"></div>
								<div class="card-content">
									<p class="date">{{ post.date }}</p>
									<h4 class="post-title">{{ post.title }}</h4>
									<p class="grif-button white">View</p>
								</div>
							</a>
							{% endfor %}
							<a href="#" class="card empty"></a>
							<a href="#" class="card empty"></a>
							<a href="#" class="card empty"></a>
						</div>
						<div class="more-button">
							{{ layout.next_button }}
						</div>
					</div>
				</div>
			</section>

		{% elseif layout.acf_fc_layout == "podcast_promo" %}
			<section class="basic-text single-info" style="background-color: #E9EBEC;">
				<div class="basic-text-container grif-container">
					<h4><span>Listen on:</span> <a href="https://podcasts.apple.com/us/podcast/grif-sermon-series/id1438355172" target="_blank">{{ layout.itunes_button }}</a> <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Iin2pvgzj3vj6qdxji4lppkvg2q?t%3DGRIF_Sermon_Series%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" target="_blank">{{ layout.google_button }}</a></h4>
				</div>
			</section>

		{% endif %}
	{% endfor %}
</main>

{% endblock %}